// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;

$white-beige: #f7eff2;
$gray: #A49694;
$beige: #F5F1EA;
$deep-purple: #2D1E2F;
