<div class="banner about">
  <div class="banner-content main-container">
    <%= image_tag('profile.jpg', id: "profile_img")%>
    <div class="banner-text">
      <h1>Hi, I'm Iris Wolfisberg</h1>
      <span id="fullstack-dev">Fullstack Developer</span>
      <p>I recently graduated from Le Wagon - Coding Bootcamp. I am all for learning new things and getting out of my comfort zone.</p>
    </div>
  </div>
</div>
