<div id="contact">
  <div class="main-container">
    <h2>Contact</h2>
    <div class="contact-info">
      <p>I am actively looking for opportunities to work and continue to grow as a web developer.</p>
      <p>Get in touch and let's see what we can do together !</p>
      <br>
      <p><%= mail_to "iris.wolfisberg@protonmail.com", "iris.wolfisberg@protonmail.com" %> | +41 78 941 58 78</p>
    </div>
    <div class="contact-social-links">
      <h4>Find me on ...</h4>
      <%= link_to "https://www.linkedin.com/in/iris-wolfisberg", class: "social-links", target: "_blank", rel: "noreferrer noopener" do %>
        <i class="fab fa-linkedin-in"></i>
      <% end %>
      <%= link_to "https://github.com/iwolfisberg/", class: "social-links", target: "_blank", rel: "noreferrer noopener" do %>
        <i class="fab fa-github"></i>
      <% end %>
    </div>
    <div class="contact-footer">
      <p>© Iris Wolfisberg. All rights reserved   |   Le Wagon Lausanne - Batch #249 ♡</p>
    </div>
  </div>
</div>
