<div id="contact">
  <div class="main-container">
    <h2>Contact</h2>
    <div class="contact-info">
      <p>Je recherche activement des opportunités de travailler et de continuer à progresser en tant que développeuse web.</p>
      <p>Contactez-moi et voyons ce que nous pouvons réaliser ensemble !</p>
      <br>
      <p><%= mail_to "iris.wolfisberg@protonmail.com", "iris.wolfisberg@protonmail.com" %> | +41 76 431 20 23</p>
    </div>
    <div class="contact-social-links">
      <h4>Vous pouvez me trouver sur...</h4>
      <%= link_to "https://www.linkedin.com/in/iris-wolfisberg", class: "social-links", target: "_blank", rel: "noreferrer noopener" do %>
        <i class="fab fa-linkedin-in"></i>
      <% end %>
      <%= link_to "https://github.com/iwolfisberg/", class: "social-links", target: "_blank", rel: "noreferrer noopener" do %>
        <i class="fab fa-github"></i>
      <% end %>
    </div>
    <div class="contact-footer">
      <p>© Iris Wolfisberg. Tous droits réservés   |   Le Wagon Lausanne - Batch #249 ♡</p>
    </div>
  </div>
</div>
