<div id="navbar" class="fixed-top">
  <ul class="navbar-items main-container">
    <li class="navbar-item"><%= link_to "About", root_path(anchor: "about") %></li>
    <li class="navbar-item"><%= link_to "Skills", root_path(anchor: "skills") %></li>
    <li class="navbar-item"><%= link_to "Portfolio", root_path(anchor: "projects") %></li>
    <li class="navbar-item"><%= link_to "Contact", root_path(anchor: "contact") %></li>
  </ul>
</div>
