<div id="skills">
  <div class="main-container">
    <h2>What I can do</h2>
    <div class="skills-cards">
      <% @skills["skills_en"].each do |skill| %>
        <div class="skill-card">
          <i class="<%= skill["prefix_icon"] %> <%= skill["icon"] %>"></i>
          <p class="skills-text"><%= skill["name"] %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
