<div id="skills">
  <div class="main-container">
    <h2>Ce que je peux faire</h2>
    <div class="skills-cards">
      <div class="skill-card">
        <i class="far fa-gem"></i>
        <p class="skills-text">Ruby</p>
      </div>
      <div class="skill-card">
        <i class="fas fa-train"></i>
        <p class="skills-text">Ruby on Rails</p>
      </div>
      <div class="skill-card">
        <i class="fab fa-css3-alt"></i>
        <p class="skills-text">CSS3</p>
      </div>
       <div class="skill-card">
        <i class="fab fa-html5"></i>
        <p class="skills-text">HTML5</p>
      </div>
      <div class="skill-card">
        <i class="fas fa-code"></i>
        <p class="skills-text">Javascript</p>
      </div>
      <div class="skill-card">
        <i class="fas fa-database"></i>
        <p class="skills-text">SQL & bases de données</p>
      </div>
      <div class="skill-card">
        <i class="fab fa-git"></i>
        <p class="skills-text">Git</p>
      </div>
      <!-- <div class="skill-card">
        <i class="fab fa-bootstrap"></i>
        <p class="skills-text">Bootstrap</p>
      </div> -->
    </div>
  </div>
</div>
