.banner {
  background: image-url('background2.png');
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  #profile_img {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    justify-self: center;
  }
  .banner-text > h1 {
    margin: 0;
  }
}

#fullstack-dev {
  color: $pink;
  font-weight: bold;
  font-size: 2.2rem;
}

#scroll {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 65px;
  right: 10px;
  .scroll-text {
    margin-right: 10px;
    a > p {
      line-height: .9;
      color: $gray;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .fa-arrow-down {
    text-align: right;
  }
}
