.banner {
  background: image-url('background2.png');
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  #profile_img {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    justify-self: center;
  }
  .banner-text {
    margin-right: 25px;
    h1 {
      margin: 0;
    }
    #resume {
      margin-top: 25px;
    }
  }
}

#fullstack-dev {
  color: $pink;
  font-weight: bold;
}

#scroll {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 65px;
  right: 10px;
  .scroll-text {
    margin-right: 10px;
    a > p {
      line-height: .9;
      color: $gray;
      font-weight: 300;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .fa-arrow-down {
    text-align: right;
    font-size: 16px;
  }
}

.navbar-toggler.toggler-example {
  outline: none;
}

@media(max-width: 992px) {
  .banner-content {
    margin-top: 80px !important;
    grid-template-columns: 1fr;
    .banner-text {
      text-align: center;
      width: 80%;
      justify-self: center;
      margin-right: 0;
      #resume {
        margin-bottom: 20px;
        margin-top: 0;
      }
    }
  }
  #scroll {
    display: none;
  }
}

@media(max-width:360px) {
  .banner-content #profile_img {
    width:80%;
  }
}

@media(max-width:175px) {
  .banner-content #profile_img {
    width:80%;
  }
}
