.navbar {
  background-color: $deep-purple;
}

.navbar-item {
  margin: 0 8px;
  padding: 0 5px;
  a {
    color: $white-beige;
    text-decoration: none;
  }
  a:hover {
    opacity: .8;
  }
}

.navbar-brand {
  color: $white-beige !important;
  font-weight: 300;
}
.navbar-language {
  font-size: 15px;
}

.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}

.dark-purple-text {
  color: $white-beige;
}
